<div class="container">
    <div class="row" id="drumulator">
        <h3 id="drumMachineText">QUILAVA || DRUM EMULATOR</h3>
        <div>
            <p style="color:white">Power</p>
            <label class="switch">
                <input type="checkbox" id="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="padFull">
            <div class="row">
                <h4 id="kitName">Kit 1</h4>
                <div class="boxFull pad-1" data-code="49" id="drumpadButton">1</div>
                <div class="boxFull pad-2" data-code="50" id="drumpadButton">2</div>
                <div class="boxFull pad-3" data-code="51" id="drumpadButton">3</div>
                <div class="boxFull pad-4" data-code="52" id="drumpadButton">4</div>
                <div class="boxFull pad-5" id="drumpadButton" data-code="53">5</div>
                <div class="boxFull pad-6" data-code="54" id="drumpadButton">6</div>
                <div class="boxFull pad-7" data-code="55" id="drumpadButton">7</div>
            </div>

            <div class="row">
                <h4 id="kitName">Kit 2</h4>
                <div class="boxFull pad-8" id="drumpadButton" data-code="81">Q</div>
                <div class="boxFull pad-9" data-code="87" id="drumpadButton">W</div>
                <div class="boxFull pad-10" data-code="69" id="drumpadButton">E</div>
                <div class="boxFull pad-11" data-code="82" id="drumpadButton">R</div>
                <div class="boxFull pad-12" id="drumpadButton" data-code="84">T</div>
                <div class="boxFull pad-13" data-code="89" id="drumpadButton">Y</div>
                <div class="boxFull pad-14" data-code="85" id="drumpadButton">U</div>
            </div>

            <div class="row">
                <h4 id="kitName">Kit 3</h4>
                <div class="boxFull pad-15" data-code="65" id="drumpadButton">A</div>
                <div class="boxFull pad-16" data-code="83" id="drumpadButton">S</div>
                <div class="boxFull pad-17" data-code="68" id="drumpadButton">D</div>
                <div class="boxFull pad-18" data-code="70" id="drumpadButton">F</div>
                <div class="boxFull pad-19" id="drumpadButton" data-code="71">G</div>
                <div class="boxFull pad-20" data-code="72" id="drumpadButton">H</div>
                <div class="boxFull pad-21" data-code="74" id="drumpadButton">J</div>
            </div>
            
            <div class="row">
                <h4 id="kitName">Kit 4</h4>
                <div class="boxFull pad-22" data-code="90" id="drumpadButton">Z</div>
                <div class="boxFull pad-23" data-code="88" id="drumpadButton">X</div>
                <div class="boxFull pad-24" data-code="67" id="drumpadButton">C</div>
                <div class="boxFull pad-25" data-code="86" id="drumpadButton">V</div>
                <div class="boxFull pad-26" id="drumpadButton" data-code="66">B</div>
                <div class="boxFull pad-27" data-code="78" id="drumpadButton">N</div>
                <div class="boxFull pad-28" data-code="77" id="drumpadButton">M</div>
            </div>
        </div>
    </div>
</div>
