<div class="container" id="htmlNavButtons">
  <button type="button" data-bs-toggle="modal" data-bs-target="#signUpModal" class="btn btn-default"
  >Signup</button>
  <button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#loginModal"
  >Login</button></a>
  <button class="btn btn-default" id="browseAll">Browse All Artists</button>
</div>


    {{!-- Top 2 Containers --}}
    <div class="container" id="landingTopContainer">
      <div class="row">
        <div class="col">
          <h3>Feature Artists:</h3>
            {{!-- Carousel --}}
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i1.sndcdn.com/artworks-000495407124-vlp5kq-t500x500.jpg" class="d-block w-100" alt="artist 1">
              </div>
              <div class="carousel-item">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e5fc477b-0d14-4d76-9d3c-878edb33ca53/d4cnqpm-bd3ca7f8-22e2-4b91-8ed9-8a14c8611a53.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTVmYzQ3N2ItMGQxNC00ZDc2LTlkM2MtODc4ZWRiMzNjYTUzXC9kNGNucXBtLWJkM2NhN2Y4LTIyZTItNGI5MS04ZWQ5LThhMTRjODYxMWE1My5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.yLVQqqgCBXvUOvqqcenHhi6qxOGfAPuGWseCmGj5W4Y" class="d-block w-100" alt="artist 2">
              </div>
              <div class="carousel-item">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b126775-b3d8-459b-98d0-70a48302f552/d2jnrax-a0d56511-5093-42fc-8e75-4791ef21a5b3.jpg/v1/fill/w_800,h_800,q_75,strp/i_love_house_music_by_sonicrider69_d2jnrax-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04MDAiLCJwYXRoIjoiXC9mXC83YjEyNjc3NS1iM2Q4LTQ1OWItOThkMC03MGE0ODMwMmY1NTJcL2Qyam5yYXgtYTBkNTY1MTEtNTA5My00MmZjLThlNzUtNDc5MWVmMjFhNWIzLmpwZyIsIndpZHRoIjoiPD04MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.RTdl_ywu4WtD3I7wTr15OhgX5_4zx_KpkRsQAB_7eic" class="d-block w-100" alt="Artist 3">
              </div>
              <div class="carousel-item">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0e5099e4-0995-49db-bc1f-84f0fb92cd6e/ddr1h3z-c07304ac-310b-421d-a025-d85aeb9037e4.png/v1/fill/w_800,h_800,strp/dj_girl_by_cerberusvi_ddr1h3z-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04MDAiLCJwYXRoIjoiXC9mXC8wZTUwOTllNC0wOTk1LTQ5ZGItYmMxZi04NGYwZmI5MmNkNmVcL2RkcjFoM3otYzA3MzA0YWMtMzEwYi00MjFkLWEwMjUtZDg1YWViOTAzN2U0LnBuZyIsIndpZHRoIjoiPD04MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.d0YDpgwNVxsF1jaVAX2Qw6dXBdWwqpuB1CCnegQn_n8" class="d-block w-100" alt="Artist 4">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.shopify.com/s/files/1/0270/6109/2423/products/twister-drum-bass-samples-zenhiser_800x.jpg?v=1586253855" class="d-block w-100" alt="Artist 5">
              </div>
            </div>
          </div>
                  {{!-- Carousel End --}}

          <div class="row">
            <div class="col">
              
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="row">
            {{!-- <h6>First, let's see if you have one single creative bone in your stupid ugly body!</h6> --}}
          </div>
          <div class="col"></div>
        <div class="row" id="drumulator">
          <h3>QUILAVA</h3>
          <h6>DRUM EMULATOR</h6>

          <div class="pad">
            <div class="box pad-1" id="drumpadButton" data-code="81">Q</div>
            <div class="box pad-2" data-code="87" id="drumpadButton">W</div>
            <div class="box pad-3" data-code="69" id="drumpadButton">E</div>
            <div class="box pad-4" data-code="82" id="drumpadButton">R</div>

            <div class="box pad-5" data-code="65" id="drumpadButton">A</div>
            <div class="box pad-6" data-code="83" id="drumpadButton">S</div>
            <div class="box pad-7" data-code="68" id="drumpadButton">D</div>
            <div class="box pad-8" data-code="70" id="drumpadButton">F</div>

            <div class="box pad-9" data-code="90" id="drumpadButton">Z</div>
            <div class="box pad-10" data-code="88" id="drumpadButton">X</div>
            <div class="box pad-11" data-code="67" id="drumpadButton">C</div>
            <div class="box pad-12" data-code="86" id="drumpadButton">V</div>
          </div>
          <div>
            <p style="color:#F37900">Enable Typing</p>
            <label class="switch">
              <input type="checkbox" id="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Top 2 Containers End --}}

  {{!-- Beginning Lower Container --}}
      <div class="container" id="landingLowerContainer">
        <div class="row align-items-start">
          <div class="col">
            {{!-- <h3>Your Profile</h3> --}}
            {{!-- <p>Create an artist profile showcasing your work!</p> --}}
            <div class="card" style="width: 18rem;">
              <img src="assets/profile-icon.png" class="card-img-top" alt="profile icon">
              <div class="card-body">
                <h5 class="card-text">Create an artist profile showcasing your work!</h5>
              </div>
            </div>
          </div>
          <div class="col">
            {{!-- <h3>Your Virtual Studio</h3> --}}
            {{!-- <p>Create music in our virtual studios!</p> --}}
            <div class="card" style="width: 18rem;">
              <img src="assets/studio-icon.png" class="card-img-top" alt="studio icon">
              <div class="card-body">
                <h5 class="card-text">Create music in our virtual studios!</h5>
              </div>
            </div>
          </div>
          <div class="col">
            {{!-- <h3>Your Music</h3> --}}
            {{!-- <p>Save and post your music on your Quilava profile!</p> --}}
            <div class="card" style="width: 18rem;">
              <img src="assets/phones-icon.png" class="card-img-top" alt="phones icon">
              <div class="card-body">
                <h5 class="card-text">Share your final projects on your Quilava profile!</h5>
              </div>
            </div>
          </div>  <br><br><br><br><br><br><br><br>
      </div>


  <!-- Search Functionality -->
  <div class="container" id="searchFunction">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class='genreSearch'>
          <label for="searchForArtist">Browse by Genre</label>
          <input type="text" class="form-control" id="genreSearch" name="genre" placeholder="Enter Genre">
          <button type='submit' class="btn btn-default">Search</button>
        </form>

        <form class='citySearch'>
          <label>Browse by City</label>
          <input type="text" class="form-control" id="citySearch" name="city" placeholder="Enter a City">
          <button type='submit' class="btn btn-default" >Search</button>
        </form>
      </div>
    </div>
  </div>



  <!-- Sign Up Form -->
  <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="mixes" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mixes">Sign Up</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="signup">
            <div class="form-group" class="mb-3">
              <label for="exampleInputEmail1">Email address*</label>
              <input type="email" class="form-control" id="email-input" name="email" placeholder="Email">
            </div>
            <div class="form-group" class="mb-3">
              <label for="exampleInputPassword1">Password*</label>
              <input type="password" class="form-control" id="password-input" name="password" placeholder="Password">
            </div>
            {{!-- <div class="form-group">
              <label for="exampleInputPassword1">Confirm Password*</label>
              <input type="password" class="form-control" id="password-input" name="password" placeholder="Password">
            </div> --}}
            <div class="form-group" class="mb-3">
              <label for="exampleInputPassword1">First Name*</label>
              <input type="text" class="form-control" id="first-name-input" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group" class="mb-3">
              <label for="exampleInputPassword1">Last Name*</label>
              <input type="text" class="form-control" id="last-name-input" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group" class="mb-3">
              <label for="exampleInputPassword1">Stage Name*</label>
              <input type="text" class="form-control" id="stage-name-input" name="stage_name" placeholder="Stage Name">
            </div>
            <div class="form-group" class="mb-3">
              <label for="exampleInputPassword1">Genre*</label>
              <input type="text" class="form-control" id="genre-input" name="genre" placeholder="Genre">
            </div>
            <div class="form-group" class="mb-3">
              <label for="exampleInputPassword1">City*</label>
              <input type="text" class="form-control" id="city-input" name="city" placeholder="City">
            </div>
            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" id="signupBtn" class="btn btn-default">Sign
                Up</button>
            </div>
          </form>
        </div>
        {{!-- <p>Or log in <a href="/login" style="color: #F37900;">here</a></p> --}}
      </div>
    </div>
  </div>

  <!-- Log In Form -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="mixes" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mixes">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="login">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="login-email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" id="loginBtn" class="btn btn-default"
              >Login</button>
            </div>
          </form>
          {{!-- <p>Or sign up <a href="/" style="color: #F37900;">here</a></p> --}}
        </div>
      </div>
    </div>
  </div>