.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #483d8b;
    color: white;
    text-align: center;
    padding: 8px;
};

.navbar {
    margin-bottom: 20px;
};