{{!-- 

<div class={{this.dataValues.isActive}} {{#if isActive}}"carousel-item active" {{else}} "carousel-item" {{/if}}>
    <div class="ratio ratio-16x9">
        {{{ this.dataValues.url}}}
    
    <div class="carousel-caption d-none d-md-block d-lg-block">
        <h4 style="color: #F64c72">{{this.dataValues.name}}</h4>
    </div>
    </div>
</div>
 --}}
