<div class={{this.dataValues.isActive}} {{#if isActive}}"carousel-item active" {{else}} "carousel-item" {{/if}}>
    <div class="ratio ratio-16x9">
        <iframe class="ratio > *" alt="This Video Failed to Load" width="560" height="315" src="{{this.dataValues.url}}"
            allowfullscreen></iframe>
    </div> <!--Can't get this caption to display but not super worried about it -->
    <div class="carousel-caption d-none d-md-block d-lg-block">
        <h4 style="color: #F37900">{{this.dataValues.name}}</h4>
    </div>
</div>